@page
@model Store.Pages.Account.ConfirmModel

<div class="product-store padding-large ps-3 text-center">
    <h1>@Localizer["EmailConfirmation"]</h1>
    <p>@Localizer["ConfirmationMessage"]</p>
    <p>@Localizer["SpamFolderMessage"]</p>
</div>