@page
@model DetailsModel

@{
	Layout = "_Layout";
}
<table class="table table-sm table-bordered">
	<tbody>
		@if (Model.ApplicationUser == null)
		{
			<tr><th class="text-center">No User</th></tr>
		}
		else
		{
			<tr>
				<th>Name</th>
				<td>@Model.ApplicationUser.UserName</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>@Model.ApplicationUser.Email</td>
			</tr>
		}
	</tbody>
</table>

@functions{
	public class DetailsModel : PageModel
	{
		private UserManager<ApplicationUser> userManager;

		public DetailsModel(UserManager<ApplicationUser> manager)
		{
			userManager = manager;
		}

		public ApplicationUser? ApplicationUser { get; set; }

		public async Task OnGetAsync()
		{
			if (User.Identity != null &&
				User.Identity.Name != null &&
				User.Identity.IsAuthenticated)
			{
				ApplicationUser = await userManager
					.FindByNameAsync(User.Identity.Name);
			}
		}
	}
}