@page
@model LogoutModel

<div>
	<div class="container d-flex flex-column justify-content-center align-items-center min-vh-100">
		<div class="card shadow-lg text-center" style="max-width: 400px; width: 100%;">
			<div class="card-header bg-primary text-white">
				<h4 class="mb-0">@Localizer["Log Out"]</h4>
			</div>
			<div class="card-body p-4">
				<h6 class="text-muted">@Localizer["Log Out Message"]</h6>
				<a asp-page="Login" class="btn btn-primary mt-3 w-100">@Localizer["Log In Again"]</a>
			</div>
		</div>
	</div>
</div>


@functions{
	public class LogoutModel : PageModel
	{
		private SignInManager<ApplicationUser> signInManager;
		private DataContext context;

		public LogoutModel(SignInManager<ApplicationUser> signInMgr,
			DataContext ctx)
		{
			signInManager = signInMgr;
			context = ctx;
		}
		
		public async Task OnGetAsync()
		{
			await signInManager.SignOutAsync();
		}
	}
}
