<section class="padding-large product-store">
    <div class="container my-3" style="font-size: 20px">
        @if (CultureInfo.CurrentCulture.Name != "ru-RU")
        {
            <h1 class="text-center mb-4">Contacts</h1>
            <p>If you have any questions, feel free to reach out to us:</p>
            <ul>
                <li>Email: <a href="mailto:support@example.com">coolmartun@gmail.com</a></li>
                <li>Phone: +374 (23) 456-7890</li>
                <li>Address: 123 Main Street, Cityville, USA</li>
            </ul>
        }
        else
        {
            <h1 class="text-center mb-4">Контакты</h1>
            <p>Если у вас есть вопросы, свяжитесь с нами:</p>
            <ul>
                <li>Эл. почта: <a href="mailto:support@example.com">coolmartun@gmail.com</a></li>
                <li>Телефон: +374 (23) 456-7890</li>
                <li>Адрес: 123 Главная Улица, Город, США</li>
            </ul>
        }
    </div>
</section>