<!DOCTYPE html>

<html>
<head>
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h4 class="text-center">Products</h4>
        @RenderBody()
    </div>
</body>
</html>
