@model Yandex.Checkout.V3.Payment

<div class="padding-large" style="text-align: center; margin: auto; max-width: 600px;">
	<h1>Order failed</h1>
	<p>There's been an error with your order: @Model.CancellationDetails.Reason</p> 
	<p>Please try again.</p>
	<p>Return to the <a href="/">home page</a>.</p>
</div>
