@page
@model Completed

<div class="product-store padding-large ps-3 text-center">
    <h2>@Localizer["Order created"]!</h2>
    <p>@Localizer["Thanks for placing order"]!</p>
    <p>@Localizer["We'll ship your goods as soon as possible"].</p>
    <a class="btn btn-primary" asp-controller="Home">
        @Localizer["Return to Store"]
    </a>
</div>

@functions {
    public class Completed : PageModel
    {
        [BindProperty(SupportsGet = true)]
        public string? OrderNonce { get; set; }

        private readonly IOrderRepository orderRepo;
        private readonly IProductRepository prodRepo;
        private readonly Cart cart;
        private readonly IRazorViewToStringRenderer razorView;
        private readonly ISendEmail sendEmail;
        private readonly UserManager<ApplicationUser> userManager;
        private readonly ILogger<Completed> logger;

        public Completed(
            IOrderRepository ordRepo,
            IProductRepository productRepo,
            Cart cartObj,
            IRazorViewToStringRenderer razor,
            ISendEmail send,
            UserManager<ApplicationUser> usrMgr,
            ILogger<Completed> log
        )
        {
            orderRepo = ordRepo;
            prodRepo = productRepo;
            cart = cartObj;
            razorView = razor;
            sendEmail = send;
            userManager = usrMgr;
            logger = log;
        }

        public async Task OnGet()
        {
            Console.WriteLine(OrderNonce);
            Order? ord = orderRepo
                .Orders
                .FirstOrDefault(o => OrderNonce != null && o.PaymentId == OrderNonce);

            var user = await userManager.GetUserAsync(User);

            if (ord != null && ord.PaymentStatus != "Paid")
            {

                logger.LogInformation("Order {orderId} with nonce {Nonce} for {userName} confirmed",
                    ord.OrderID, OrderNonce, user.UserName);

                ord.PaymentStatus = "Paid";
                List<Product> productIdsInOrder = ord.Lines.Select(cl => cl.Product).ToList();
                foreach (Product prod in productIdsInOrder)
                {
                    if (prod.Quantity > 0)
                    {
                        CartLine? line = ord.Lines
                            .ToList()
                            .Find(cl => cl.Product.ProductId == prod.ProductId);
                        prod.Quantity -= line.Quantity;
                    }
                    else if (prod.Quantity == 0)
                    {
                        prod.Deleted = true;
                    }
                    prodRepo.SaveProduct(prod);
                }
                orderRepo.SaveOrder(ord);
                cart.Clear();
                string htmlContent = await razorView
                   .RenderViewToStringAsync<Order>("EmailOrderNotification", ord);

                await sendEmail.SendEmailAsync(user!.Email!, "ILoveParts order created", htmlContent);
            }
            else if (ord != null && ord.PaymentStatus == "Paid")
            {
                logger.LogInformation("Order {orderId} with nonce {Nonce} for {userName} has already been confirmed",
                   ord.OrderID, OrderNonce, user.UserName);
            }
            else
            {
                logger.LogInformation("Order with nonce {Nonce} for {userName} doesn't exist",
                    ord.OrderID, OrderNonce, user.UserName);
            }
        }
    }
}