@page
@model CreateModel

<div class="padding-large container">
	<h5 class="bg-primary text-white text-center p-2">
		Create Role
	</h5>
	<form method="post">
		@Html.AntiForgeryToken()
		<div asp-validation-summary="All" class="text-danger">
			<label>Role Name</label>
			<input name="Name" class="form-control" value="@Model.Name"/>
		</div>
		<div class="py-2">
			<button type="submit" class="btn btn-primary">Submit</button>
			<a class="btn btn-secondary" asp-page="list">Back</a>
		</div>
	</form>
</div>

@functions{
	[Authorize(Roles = "Admins")]
	public class CreateModel : PageModel
	{
		public RoleManager<IdentityRole> RoleManager;

		public CreateModel(UserManager<ApplicationUser> userManager,
			RoleManager<IdentityRole> roleManager)
		{
			RoleManager = roleManager;
		}

		[BindProperty]
		public string Name { get; set; } = "";

		public async Task<IActionResult> OnPostAsync()
		{
			if (ModelState.IsValid)
			{
				// create role
				IdentityRole role =
					new IdentityRole
					{
						Name = Name
					};
				// add role
				IdentityResult result =
					await RoleManager.CreateAsync(role);
				if (result.Succeeded)
				{
					return RedirectToPage("List");
				}
				// get all errors
				foreach (IdentityError err in result.Errors)
				{
					ModelState.AddModelError("", err.Description);
				}
			}
			return RedirectToPage();
		}
	}
}
